<header>
    <h1>Components  Status 组件开发设计状态一览表</h1>
    <label>我们正在尽快构建一个强大的组件库，经常检查更新。如果您需要的组件没有出现在这个列表，可以给我们<a (click)="submitNeeds()">提交需求</a></label>
</header>
<section style="margin-top: 30px;">
    <px-status-done class="symbol"></px-status-done>
    <px-status-progress class="symbol"></px-status-progress>
</section>
<section>
    <table class="demo">
        <thead>
        <tr>
            <th class="number">序号</th>
            <th>名称</th>
            <th>AXURE</th>
            <th>设计</th>
            <th>标注</th>
            <th>代码</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="number">1</td>
            <td><a routerLink="/components/alert">Alert 通知</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
        </tr>
        <tr>
            <td class="number">2</td>
            <td><a routerLink="/components/button">Buttons 按钮</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
        </tr>
        <tr>
            <td class="number">3</td>
            <td><a routerLink="/components/backtop">BackTop 回到顶部</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
        </tr>
        <tr>
            <td class="number">4</td>
            <td><a routerLink="/components/breadcrumb">Breadcrumb 面包屑</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
        </tr>
        <tr>
            <td class="number">5</td>
            <td>Cards 卡片</td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-progress></px-status-progress></td>
        </tr>
        <tr>
            <td class="number">6</td>
            <td>Donut Chart 环图</td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-progress></px-status-progress></td>
        </tr>
        <tr>
            <td class="number">7</td>
            <td><a routerLink="/components/charts/line">Line Chart 折线图</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-progress></px-status-progress></td>
        </tr>
        <tr>
            <td class="number">8</td>
            <td>Area Graph 面积图</td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-progress></px-status-progress></td>
        </tr>
        <tr>
            <td class="number">9</td>
            <td><a routerLink="/components/charts/bar">Column Chart 柱状图</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-progress></px-status-progress></td>
        </tr> 
        <tr>
            <td class="number">10</td>
            <td>Container 容器</td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-progress></px-status-progress></td>
        </tr>
        <tr>
            <td class="number">11</td>
            <td><a routerLink="/components/dropdown-menubar">Dropdown Menu 下拉菜单</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
        </tr>
        <tr>
            <td class="number">12</td>
            <td><a routerLink="/components/progress">Progress 进度</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
        </tr>
        <tr>
            <td class="number">13</td>
            <td>Pagination 分页</td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-progress></px-status-progress></td>
        </tr>
        <tr>
            <td class="number">14</td>
            <td><a routerLink="/components/popUpModal">POP UP 弹出框</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
        </tr>
        <tr>
            <td class="number">15</td>
            <td>Scrollbar 滚动条</td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-progress></px-status-progress></td>
        </tr>
        <tr>
            <td class="number">16</td>
            <td><a routerLink="/components/radio">Radio 单选框</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
        </tr>
        <tr>
            <td class="number">17</td>
            <td><a routerLink="/components/checkbox">Checkbox 多选框</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
        </tr>
        <tr>
            <td class="number">18</td>
            <td>Switch 开关</td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-progress></px-status-progress></td>
        </tr>
        <tr>
            <td class="number">19</td>
            <td><a routerLink="/components/select">Dropdown Select 下拉选取</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
        </tr>
        <tr>
            <td class="number">20</td>
            <td>Sizer 筛选器</td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-progress></px-status-progress></td>
        </tr>
        <tr>
            <td class="number">21</td>
            <td><a routerLink="/components/steps">Steps 步骤条</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
        </tr>
        <tr>
            <td class="number">22</td>
            <td>Slider 滑动输入条</td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-progress></px-status-progress></td>
        </tr>
        <tr>
            <td class="number">23</td>
            <td><a routerLink="/components/table">Table 表格</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-progress></px-status-progress></td>
        </tr>
        <tr>
            <td class="number">24</td>
            <td><a routerLink="/components/tabmenu">Tabs 选项卡</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
        </tr>
        <tr>
            <td class="number">25</td>
            <td>Tag 标签</td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-progress></px-status-progress></td>
        </tr>
        <tr>
            <td class="number">26</td>
            <td><a routerLink="/components/textInput">Text Input 文本框</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
        </tr>
        <tr>
            <td class="number">27</td>
            <td><a routerLink="/components/tooltip">Tooltip 文字提示</a></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
        </tr>
        <tr>
            <td class="number">28</td>
            <td>Timepickers 时间选取</td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-progress></px-status-progress></td>
        </tr>
        <tr>
            <td class="number">29</td>
            <td>Timeline 时间轴</td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-progress></px-status-progress></td>
        </tr>
        <tr>
            <td class="number">30</td>
            <td>Tree 树形</td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-done></px-status-done></td>
            <td><px-status-progress></px-status-progress></td>
        </tr>
        </tbody>
    </table>
</section>
