<header>
    <h1>Column Chart 柱状图</h1>
    <label>柱状图,又名条形图，使用垂直或水平的柱子显示类别之间的数值比较。柱状图描述的是分类数据，回答的是每一个分类中“有多少？”这个问题。</label>
</header>
<section>
    <h2>纵向柱状图</h2>
    <section>
        <div class='ec' id="charts-container1"></div>
        <div class='ec' id="charts-container2"></div>
    </section>
</section>
<section>
    <h2>横向柱状图</h2>
    <section>
        <div class='ec' id="charts-container3"></div>
    </section>
</section>
<section>
    <h2>配置项参数</h2>
    <table class="demo">
        <thead>
        <tr>
            <th width="20%">属性</th>
            <th width="10%">类型</th>
            <th width="10%">缺省值</th>
            <th width="60%">描述</th>
        </tr>
        </thead>
    </table>
</section>
