h2 + label {
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 'Segoe UI', 'Arial', 'san-serif';
  font-weight: normal;
  font-size: 14px;
  color: #7c868d;
  line-height: 1;
  margin-bottom: 0;
}