@import '../../demo-common';

.icon-calendar {
  background: url('../../images/icon_calendar_gry.png');
  aside a.active &,
  aside a.active:hover & {
    background: url('../../images/icon_calendar_blue.png');
  }
}

.icon-components {
  background: url('../../images/icon_components_gry.png');
  aside a.active &,
  aside a.active:hover & {
    background: url('../../images/icon_components_blue.png');
  }
  aside a.activeByChild & {
    background: url('../../images/icon_components_blue.png');
  }
}