<aside>
    <a class="nav-title">组件</a>
    <a class="has-icon" routerLink="/components/summary" routerLinkActive="active">
        <span class="icon icon-calendar"></span><span>组件状态一览表</span>
    </a>
    <a routerLink="/components/alert" routerLinkActive="active">通知</a>
    <a routerLink="/components/button" routerLinkActive="active">按钮</a>
    <a routerLink="/components/breadcrumb" routerLinkActive="active">面包屑</a>
    <a routerLink="/components/tooltip" routerLinkActive="active">文字提示</a>
    <a routerLink="/components/progress" routerLinkActive="active">进度</a>
    <a routerLink="/components/dropdown-menubar" routerLinkActive="active">下拉菜单</a>
    <!-- a routerLink="/components/modal" routerLinkActive="active">弹出框</a -->
    <a routerLink="/components/popUpModal" routerLinkActive="active">弹出框</a>
    <!--<a class="has-icon has-caret" (click)="setSelectorMenuShow()" [ngClass]="{'activeByChild': isSelectorMenuActive,-->
    <!--'caret-down': showSelectorMenu, 'caret-right': !showSelectorMenu}">-->
    <!--<span class="icon icon-style"></span><span>选择器</span>-->
    <!--</a>-->
    <a routerLink="/components/radio" routerLinkActive="active">单选框</a>
    <a routerLink="/components/checkbox" routerLinkActive="active">多选框</a>
    <a routerLink="/components/select" routerLinkActive="active">下拉选取</a>
    <a routerLink="/components/textInput" routerLinkActive="active">文本框</a>
    <!--<a routerLink="/components/tab" routerLinkActive="active">选项卡</a>-->
    <a routerLink="/components/tabmenu" routerLinkActive="active">选项卡</a>
    <a routerLink="/components/datetimepicker" routerLinkActive="active">时间控件</a>
    <a routerLink="/components/steps" routerLinkActive="active">步骤条</a>
    <a routerLink="/components/backtop" routerLinkActive="active">回到顶部</a>
    <a routerLink="/components/table">表格</a>
    <a routerLink="/components/charts/line">折线图</a>
    <a routerLink="/components/charts/bar">柱状图</a>
</aside>